{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ 'Articles' }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader title="Articles">
        <twig:DashliteHeaderLinkButton name="Ajouter" path="{{ path('admin_content_post_new') }}" icon="plus" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:DashliteResponsiveTable :data="data" emptyStatePath="{{ path('admin_content_post_new') }}" emptyStateAction="Ajouter un article">
                <twig:block name="header">
                    <twig:DashliteResponsiveTableColumn value="Auteur" col />
                    <twig:DashliteResponsiveTableColumn value="Titre" col />
                    <twig:DashliteResponsiveTableColumn value="Lectures" col />
                    <twig:DashliteResponsiveTableColumn value="Statut" col />
                    <twig:DashliteResponsiveTableColumn tools />
                </twig:block>

                <twig:DashliteResponsiveTableColumn>
                    <twig:DashliteUserAvatarLink
                        path="{{ path('admin_authentication_user_show', {id: item.owner.id}) }}"
                        username="{{ item.owner.username }}"
                        surname="{{ item.owner.email }}"
                        avatarUrl="{{ vich_uploader_asset(item.owner, 'avatar_file') }}"
                    />
                </twig:DashliteResponsiveTableColumn>
                <twig:DashliteResponsiveTableColumn value="{{ item.name }}" />
                <twig:DashliteResponsiveTableColumn>{{ item.viewCount }}</twig:DashliteResponsiveTableColumn>
                <twig:DashliteResponsiveTableColumn>{{ item.status.translationKey | trans([], 'content') | badge }}</twig:DashliteResponsiveTableColumn>
                <twig:DashliteResponsiveTableColumn tools>
                    <twig:DashliteResponsiveTableTools>
                        <twig:DashliteResponsiveTableAction path="{{ path('admin_content_post_show', {id: item.id}) }}" icon="eye" />
                        <twig:DashliteResponsiveTableAction path="{{ path('admin_content_post_edit', {id: item.id}) }}" icon="edit" />
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
