{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Post #{data.name}" }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader title="{{ data.name }}" backTitle="Tous les articles" backPath="{{ path('admin_content_blog_post_index') }}">
        <twig:DashliteHeaderLinkButton name="Éditer" path="{{ path('admin_content_blog_post_edit', {id: data.id}) }}" icon="edit-alt-fill" />
        <twig:DashliteDeleteButton path="{{ path('admin_content_blog_post_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_content_blog_post_index') }}" type="button" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="nk-block">
        <div class="row g-gs">
            <div class="col-lg-4 col-xl-4 col-xxl-3">
                <twig:DashliteCard removePadding>
                    <twig:DashliteMetaDataList>
                        <twig:DashliteMetaDataSection title="Couverture">
                            <div class="user-card user-card-s2">
                                <img src="{{ vich_uploader_asset(data, 'thumbnail_file') }}" alt="couverture {{ data.name }}">
                            </div>
                        </twig:DashliteMetaDataSection>
                        <twig:DashliteMetaDataSection title="Statistiques">
                            <div class="row text-center">
                                <div class="col-6"><div class="profile-stats"><span class="amount">{{ data.viewCount }}</span><span class="sub-text">lectures</span></div></div>
                                <div class="col-6"><div class="profile-stats"><span class="amount">{{ data.uniqueViewCount }}</span><span class="sub-text">lectures uniques</span></div></div>
                            </div>
                        </twig:DashliteMetaDataSection>
                        <twig:DashliteMetaDataSection title="Détails" row>
                            <twig:DashliteMetaDataItem label="publié par" value="{{ data.owner.name }}" />
                            <twig:DashliteMetaDataItem>
                                <twig:DashliteUserAvatarLink
                                    path="{{ path('admin_auth_user_show', {id: data.owner.id}) }}"
                                    username="{{ data.owner.username }}"
                                    surname="{{ data.owner.email }}"
                                    avatarUrl="{{ vich_uploader_asset(data.owner, 'avatar_file') }}"
                                />
                            </twig:DashliteMetaDataItem>
                            <twig:DashliteMetaDataItem label="Identifiant" value="{{ data.id }}" />
                            <twig:DashliteMetaDataItem label="Slug" value="{{ data.slug }}" />
                            <twig:DashliteMetaDataItem label="Status">{{ data.isOnline | boolean("En ligne", "Hors ligne") }}</twig:DashliteMetaDataItem>
                            <twig:DashliteMetaDataItem label="Publication" value="{{ data.scheduledAt | date }}" />
                            <twig:DashliteMetaDataItem label="Création" value="{{ data.createdAt | date }}" />
                            <twig:DashliteMetaDataItem label="Édition" value="{{ data.updatedAt ? data.updatedAt | date : '-' }}" />
                        </twig:DashliteMetaDataSection>
                        <twig:DashliteMetaDataSection title="Supplémentaires" row>
                            <twig:DashliteMetaDataItem label="Commentaires" value="{{ data.isCommentable | boolean }}" />
                            <twig:DashliteMetaDataItem label="Featured" value="{{ data.isFeatured | boolean }}" />
                            <twig:DashliteMetaDataItem label="Top Promoted" value="{{ data.isTopPromoted | boolean }}" />
                            <twig:DashliteMetaDataItem label="Premium" value="{{ data.isPremium | boolean }}" />
                        </twig:DashliteMetaDataSection>

                        {% if data.category %}
                            <twig:DashliteMetaDataSection title="Catégorie">
                                <a href="{{ path('admin_content_category_show', {id: data.category.id}) }}">{{ data.category.name }}</a>
                            </twig:DashliteMetaDataSection>
                        {% endif %}
                        {% if data.series %}
                            <twig:DashliteMetaDataSection title="Séries">
                                <a href="{{ path('admin_content_blog_post_series_show', {id: data.series.id}) }}">{{ data.series.name }}</a>
                            </twig:DashliteMetaDataSection>
                        {% endif %}
                        {% if data.tags | length > 0 %}
                            <twig:DashliteMetaDataSection title="Tags">
                                <ul class="g-1">
                                    {% for tag in data.tags %}
                                        <li class="btn-group">
                                            <a class="btn btn-xs btn-info btn-dim" href="{{ path('admin_content_tag_show', {id: tag.id}) }}">{{ tag.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </twig:DashliteMetaDataSection>
                        {% endif %}
                        {% if data.technologies | length > 0 %}
                            <twig:DashliteMetaDataSection title="Technologies">
                                <ul class="g-1">
                                    {% for technology in data.technologies %}
                                        <li class="btn-group">
                                            <a class="btn btn-xs btn-info btn-dim" href="{{ path('admin_content_technology_show', {id: technology.id}) }}">{{ technology.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </twig:DashliteMetaDataSection>
                        {% endif %}
                    </twig:DashliteMetaDataList>
                </twig:DashliteCard>
            </div>
            <div class="col-lg-8 col-xl-8 col-xxl-9">
                <twig:DashliteCard>
                    <div class="nk-block">
                        <h3>{{ data.name }}</h3>
                        {{ data.content | markdown_to_html }}
                    </div>
                </twig:DashliteCard>
            </div>
        </div>
    </div>
</twig:block>
