{% apply spaceless %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale() | default('fr') }}">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="devscast">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('/images/logo.png') }}">
        <title>{% block title %}{% endblock %} | Administration | devscast.org</title>

        {# PWA support #}
        <meta name="theme-color" content="#05FFBA">
        <link rel="manifest" href="{{ asset('manifest.json') }}">

        {# PWA Support IOS #}
        <link rel="apple-touch-icon" sizes="192x192" href="{{ asset('images/icons/logo/maskable_icon_x192.png') }}">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ asset('images/icons/logo/maskable_icon_x512.png') }}">
        <link rel="apple-touch-startup-image" href="{{ asset('images/icons/logo/maskable_icon.png') }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        {% block meta %}{% endblock %}
        {{ encore_entry_link_tags('admin') }}
        {% block stylesheets %}{% endblock %}

        <script defer data-turbo-track="reload" src="{{ asset('admin/assets/bundle.js') }}"></script>
        <script defer data-turbo-track="reload" src="{{ asset('admin/assets/scripts.js') }}"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/dracula.min.css">

        {{ encore_entry_script_tags('admin') }}
    </head>
    <body class="nk-body bg-theme has-sidebar ui-shady {{ app.user.isDarkTheme ? 'dark-mode' : 'light-mode' }}" {{ stimulus_controller('turbo') }}>
    {% include '@admin/shared/component/_flash.html.twig' %}
    <div class="nk-app-root">
        <div class="nk-main">
            {% block sidebar %}
                {% embed "@admin/shared/component/_sidebar.html.twig" %}{% endembed %}
            {% endblock %}
            <div class="nk-wrap">
                {% block navbar %}
                    {% include '@admin/shared/component/_navbar.html.twig' %}
                {% endblock %}
                <div class="nk-content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            {% block body %}
                                <div class="nk-content-body">
                                    <div class="mx-auto {% block wideContentClass %}wide-lg{% endblock %}">
                                        {% block header %}{% endblock %}
                                        <div class="nk-block">
                                            {% block content %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                {% block footer %}
                    {% embed "@admin/shared/component/_footer.html.twig" %}{% endembed %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
    </body>
    </html>
{% endapply %}
