{% extends '@app/shared/layout/base.html.twig' %}

<twig:block name="content">
    <main class="w-full relative">
        <div class="box-container gap-10 md:flex md:gap-x-8 md:pb-7">

            <aside data-side-bar="" data-is-open="false" class="sidebar group" data-invisible-on-page="true">
                <div data-simple-scroll-container="" class="side-bar-container simplebar-scrollable-y" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px -16px 0px 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px 16px 0px 0px;">
                                    </div></div></div></div><div class="simplebar-placeholder" style="width: 296px; height: 793px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 561px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div></div>

            </aside>
            <div data-nav-overlay="" class="hidden lg:hidden fixed inset-0 z-30"></div>

            <article class="mt-8 pb-6 sm:border sm:!border-y sm:border-bdr sm:rounded-outer-radius  overflow-hidden">

                <header class="space-y-6 sm:pt-6 lg:pt-8">
                    <div class="flex items-center justify-between sm:px-6 lg:px-8">
                        <a href="./" class="flex underline hover:text-gray-900 dark:hover:text-primary items-center text-fg-heading3 text-sm gap-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
                            </svg>
                            Articles
                        </a>

                        <div class="flex items-center gap-x-3 text-fg">
                            <div data-dropdown-box="" data-dropdown-open="false" class="relative flex min-w-max">
                                <button data-drop-trigger="" class="rounded-md outline-none w-8 h-8 flex items-center justify-center p-1 hover:bg-background-card-inside">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                    </svg>
                                    <span class="sr-only">toggle dropdown</span>
                                </button>
                                <div data-drop-down-container="" class="app-dropdown-container !top-8 right-0 !origin-top-right dark:p-px bg-dark-gradient !w-40 shadow-lg dark:shadow-transparent">
                                    <div class="app-dropdown-content text-fg-heading2 ">
                                        <ul class="space-y-1">
                                            <li>
                                                <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                                    </svg>
                                                    Signaler
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                                        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"></path>
                                                    </svg>
                                                    Enregistrer
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-center gap-2 text-sm sm:px-6 lg:px-8">
                        <a href="#" class="bg-gray-900 text-gray-50 dark:bg-primary dark:text-gray-900 px-2 py-0.5 rounded-md">
                            {{ data.category.name }}
                        </a>
                        <div class="bg-background-card-inside text-fg-heading2 px-2 py-0.5 rounded-md">
                            {{ data.duration }}
                        </div>
                    </div>
                    <h1 class="text-2xl font-bold tracking-tight lg:text-4xl text-fg-heading1 sm:px-6 lg:px-8">
                        {{ data.content }}
                    </h1>
                    <div class="flex gap-x-2 items-center flex-1 sm:px-6 lg:px-8">
                        <div class="rounded-full min-w-max bg-background-card-inside border border-bdr">
                            <img class="w-10 h-10  object-covere rounded-outer-radius" src="/avatar.png" alt="user avatar">
                        </div>
                        <div class="flex flex-col text-fg">
                            <a href="./../profile/index.html" class="line-clamp-1 text-fg-heading2 font-medium hover:text-fg-heading1">{{ data.name }}</a>
                            <div class="text-sm">
                                <span>Il y a 5 minutes</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 flex items-center flex-wrap gap-1 text-fg sm:px-6 lg:px-8">
                        <a href="#" class="px-2 p-0.5 rounded-md border border-dashed border-bdr bg-background-card-inside text-sm">
                            #javascript
                        </a>
                        <a href="#" class="px-2 p-0.5 rounded-md border border-dashed border-bdr bg-background-card-inside text-sm">
                            #css
                        </a>
                        <a href="#" class="px-2 p-0.5 rounded-md border border-dashed border-bdr bg-background-card-inside text-sm">
                            #vuejs
                        </a>
                        <a href="#" class="px-2 p-0.5 rounded-md border border-dashed border-bdr bg-background-card-inside text-sm">
                            #Tag name
                        </a>
                        <a href="#" class="px-2 p-0.5 rounded-md border border-dashed border-bdr bg-background-card-inside text-sm">
                           #Tag name
                        </a>
                    </div>
                    <div class="sm:px-2 sm:pt-2">
                        <img src="/images/image1.webp" alt="image job cover" class="object-cover w-full aspect-video rounded-outer-radius sm:rounded-inner-radius-gradient">
                    </div>

                </header>

                <div class="post-content-detail content-detail">
                    <p class="lead">
                        {{ data.content }}
                    </p>
                    <figure>
                        <img src="https://devscast.tech/uploads/thumbnails/posts/les-design-patterns-en-kotlin-singleton.png" alt="">
                        <figcaption>devscast.org</figcaption>
                    </figure>

                    <blockquote>
                        <p>
                            {{ data.content }}
                        </p>
                    </blockquote>

                    <p>{{ data.content }}</p>
                    <ol>
                        <li>{{ data.content }}</li>
                        <li>{{ data.content }}</li>
                        <li>{{ data.content }}</li>
                    </ol>

                    <pre data-simplebar="init" class="simplebar-scrollable-x"><div class="simplebar-wrapper" style="margin: -16px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: scroll hidden;"><div class="simplebar-content" style="padding: 16px;">            <code class="language-html">
                        {{ data.content | markdown_to_html }}
            </code></div></div></div></div><div class="simplebar-placeholder" style="width: 343px; height: 440px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="width: 137px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="height: 0px; display: none;"></div></div></pre>
                    <p>{{ data.content }}</p>
                    <p>{{ data.content }}</p>
                    <ul>
                        <li>{{ data.content }}</li>
                        <li>{{ data.content }}</li>
                        <li>{{ data.content }}</li>
                    </ul>
                </div>
                <div class=" sm:px-6 lg:px-8 mt-5 sm:border-y sm:border-bdr sm:py-2 select-none">
                    <div class="flex justify-between">
                        <div class="flex items-center gap-4 text-sm ">
                            <form action="" class="text-fg flex items-center gap-x-1">
                                <input type="checkbox" name="action-like-post2" id="action-like-post2" class="hidden peer appearance-none">
                                <label for="action-like-post2" class="peer-checked:text-gray-950 dark:peer-checked:text-primary peer-checked:[&amp;>*:not(:first-child)]:flex peer-checked:[&amp;>*:not(:last-child)]:hidden cursor-pointer bg-background-card-inside rounded-md p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5 peer-checked:hidden">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 hidden peer-checked:flex">
                                        <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"></path>
                                    </svg>
                                </label>
                                <span class="flex gap-x-1">45 <span class="hidden sm:flex">likes</span></span>
                            </form>
                            <a href="./posts/post.html#commentsection" class="px-2 p-0.5 gap-1 text-sm flex items-center rounded-full text-fg">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                </svg>
                                <span class="flex gap-x-1">45 <span class="hidden sm:flex">Commentaires</span></span>
                            </a>
                        </div>
                        <div class="flex items-center gap-x-2 text-fg">
                            <span class="text-sm ">2 min read</span>
                            <div data-dropdown-box="" data-dropdown-open="false" class="relative flex h-max items-center">
                                <button data-drop-trigger="" class="outline-none flex  p-2 hover:bg-background-card-inside rounded-md">
                                    <span class="sr-only">Toggle share</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"></path>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="post-comment-bloc mt-5 sm:px-6 lg:px-8">
                    <div class="mt-6 space-y-6 scroll-mt-20" id="commentsection">
                        <div class="p-5 group bg-background-card border border-bdr rounded-outer-radius  space-y-4 text-fg">
                            <div class="">
                                <p>
                                   {{ data.content }}
                                </p>
                            </div>
                            <div class="flex items-center gap-4 text-sm ">
                                <form action="" class="text-fg flex items-center gap-x-1">
                                    <input type="checkbox" name="action-like-post2" id="action-like-comment1" class="hidden peer appearance-none">
                                    <label for="action-like-comment1" class="peer-checked:text-gray-950 dark:peer-checked:text-primary peer-checked:[&amp;>*:not(:first-child)]:flex peer-checked:[&amp;>*:not(:last-child)]:hidden cursor-pointer bg-background-card-inside rounded-md p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5 peer-checked:hidden">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 hidden peer-checked:flex">
                                            <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"></path>
                                        </svg>
                                    </label>
                                    <span class="flex gap-x-1">0 <span class="hidden sm:flex">like</span></span>
                                </form>
                                <a href="./posts/post.html#commentsection" class="px-2 p-0.5 gap-1 text-sm flex items-center rounded-full text-fg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                    </svg>
                                    <span class="flex gap-x-1">0 <span class="hidden sm:flex">Commentaire</span></span>
                                </a>
                            </div>
                        </div>


                        <div class="p-5 group bg-background-card border border-bdr rounded-outer-radius  space-y-4 text-fg">
                            <div class="flex justify-between w-full gap-x-6">
                                <div class="flex gap-x-2 items-center flex-1">
                                    <div class="rounded-full min-w-max bg-background-card-inside border border-bdr">
                                        <img class="w-10 h-10  object-covere rounded-outer-radius" src="/avatar.png" alt="user avatar">
                                    </div>
                                    <div class="flex flex-col text-fg">
                                        <a href="#" class="line-clamp-1 text-fg-heading2 font-medium hover:text-fg-heading1">John doe</a>
                                        <div class="flex items-center gap-x-1.5 text-sm ">
                                            <span>Il y a 5 minutes</span>
                                        </div>
                                    </div>
                                </div>
                                <div data-dropdown-box="" data-dropdown-open="false" class="relative flex min-w-max text-fg">
                                    <button data-drop-trigger="" class="rounded-md outline-none w-8 h-8 flex items-center justify-center p-1 hover:bg-background-card-inside">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                        </svg>
                                        <span class="sr-only">toggle dropdown</span>
                                    </button>
                                    <div data-drop-down-container="" class="app-dropdown-container !top-8 right-0 !origin-top-right dark:p-px bg-dark-gradient !w-40 shadow-lg dark:shadow-transparent">
                                        <div class="app-dropdown-content text-fg-heading2 ">
                                            <ul class="space-y-1">
                                                <li>
                                                    <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                                        </svg>
                                                        Signaler
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                                        </svg>
                                                        Editer
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <p>
                                   {{ data.content }}
                                </p>
                            </div>
                            <div class="flex items-center gap-4 text-sm ">
                                <form action="" class="text-fg flex items-center gap-x-1">
                                    <input type="checkbox" name="action-like-post2" id="action-like-comment1" class="hidden peer appearance-none">
                                    <label for="action-like-comment1" class="peer-checked:text-gray-950 dark:peer-checked:text-primary peer-checked:[&amp;>*:not(:first-child)]:flex peer-checked:[&amp;>*:not(:last-child)]:hidden cursor-pointer bg-background-card-inside rounded-md p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5 peer-checked:hidden">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 hidden peer-checked:flex">
                                            <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"></path>
                                        </svg>
                                    </label>
                                    <span class="flex gap-x-1">45 <span class="hidden sm:flex">likes</span></span>
                                </form>
                                <a href="./posts/post.html#commentsection" class="px-2 p-0.5 gap-1 text-sm flex items-center rounded-full text-fg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                    </svg>
                                    <span class="flex gap-x-1">45 <span class="hidden sm:flex">Commentaires</span></span>
                                </a>
                            </div>
                        </div>

                        <div class="ml-6 md:ml-8 lg:ml-14 p-5 group bg-background-card border border-bdr rounded-outer-radius  space-y-4 text-fg">
                            <div class="flex justify-between w-full gap-x-6">
                                <div class="flex gap-x-2 items-center flex-1">
                                    <div class="rounded-full min-w-max bg-background-card-inside border border-bdr">
                                        <img class="w-10 h-10  object-covere rounded-outer-radius" src="/avatar.png" alt="user avatar">
                                    </div>
                                    <div class="flex flex-col text-fg">
                                        <a href="#" class="line-clamp-1 text-fg-heading2 font-medium hover:text-fg-heading1">John doe</a>
                                        <div class="flex items-center gap-x-1.5 text-sm ">
                                            <span>Il y a 5 minutes</span>
                                        </div>
                                    </div>
                                </div>
                                <div data-dropdown-box="" data-dropdown-open="false" class="relative flex min-w-max text-fg">
                                    <button data-drop-trigger="" class="rounded-md outline-none w-8 h-8 flex items-center justify-center p-1 hover:bg-background-card-inside">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                        </svg>
                                        <span class="sr-only">toggle dropdown</span>
                                    </button>
                                    <div data-drop-down-container="" class="app-dropdown-container !top-8 right-0 !origin-top-right dark:p-px bg-dark-gradient !w-40 shadow-lg dark:shadow-transparent">
                                        <div class="app-dropdown-content text-fg-heading2 ">
                                            <ul class="space-y-1">
                                                <li>
                                                    <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                                        </svg>
                                                        Signaler
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="px-3 flex items-center gap-x-3 rounded-md py-1 transition hover:bg-background-card-inside">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"></path>
                                                        </svg>
                                                        Editer
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <p>
                                    {{ data.content }}
                                </p>
                            </div>
                            <div class="flex items-center gap-4 text-sm ">
                                <form action="" class="text-fg flex items-center gap-x-1">
                                    <input type="checkbox" name="action-like-post2" id="action-like-response1" class="hidden peer appearance-none">
                                    <label for="action-like-response1" class="peer-checked:text-gray-950 dark:peer-checked:text-primary peer-checked:[&amp;>*:not(:first-child)]:flex peer-checked:[&amp;>*:not(:last-child)]:hidden cursor-pointer bg-background-card-inside rounded-md p-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5 peer-checked:hidden">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 hidden peer-checked:flex">
                                            <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"></path>
                                        </svg>
                                    </label>
                                    <span class="flex gap-x-1">0 <span class="hidden sm:flex">like</span></span>
                                </form>
                                <a href="./posts/post.html#commentsection" class="px-2 p-0.5 gap-1 text-sm flex items-center rounded-full text-fg">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
                                    </svg>
                                    <span class="flex gap-x-1">0 <span class="hidden sm:flex">Commentaire</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="flex-col pt-16 pb-16 md:pb-0 flex space-y-6 md:h-max md:sticky md:w-72 lg:w-80 xl:w-[22rem] xl:min-w-[22rem] lg:pt-8">
                <div class="lg:sticky lg:top-20 bg-background-card border border-bdr rounded-outer-radius  overflow-hidden">
                    <div class="flex flex-col gap-4">
                        <div class="relative px-5 lg:px-6 pt-20">
                            <div class="absolute h-28 sm:h-32 inset-x-0 top-0">
                                <img src="/coverImage.jpg" alt="cover image" class="w-full h-full rounded-lg object-cover">
                            </div>
                            <div class="relative w-full flex justify-between items-end">
                                <img src="/avatar.png" alt="avatar" width="800" class="w-20 h-20 rounded-md ring-4 ring-background-card">
                                <button class="btn px-3 h-7 max-w-max text-sm before:bg-gray-800 dark:before:bg-gray-100 before:border before:border-bdr text-gray-50 dark:text-gray-900">
                                    <span class="relative z-[6]">Suivre</span>
                                </button>
                            </div>
                        </div>
                        <div class="text-fg p-5 pt-0 lg:pt-0 lg:p-6">
                            <a href="./" class="text-fg-heading1 font-semibold text-xl">
                                {{ data.name }}
                            </a>
                            <div class="flex items-center gap-x-1.5 text-sm ">
                                <span>@{{ data.name }}</span>
                                <span class="w-1 h-1 rounded-full bg-fg"></span>
                                <span class="line-clamp-1">{{ data.category.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-lg text-fg-heading1">
                    Autres articles de l'auteur
                </h2>
                <div class="divide-y divide-bdr flex flex-col sm:bg-background-card sm:border sm:!border-y sm:border-bdr sm:rounded-outer-radius sm:p-6">
                    <a href="#" class="w-full flex flex-col py-2 hover:bg-gray-100 dark:hover:bg-gray-900">
                        <h4 class="text-base sm:text-lg font-medium text-fg-heading1">
                            Les Design Patterns en Kotlin : Le Singleton
                        </h4>
                        <p class="text-fg text-sm py-1 line-clamp-1">
                            En général, si vous disposez d'une classe
                        </p>
                        <span class="text-sm font-light text-fg">Il y a 2 jours</span>
                    </a>
                    <a href="#" class="w-full flex flex-col py-2 hover:bg-gray-100 dark:hover:bg-gray-900">
                        <h4 class="text-base sm:text-lg font-medium text-fg-heading1">
                            Les Design Patterns en Kotlin : Le Singleton
                        </h4>
                        <p class="text-fg text-sm py-1 line-clamp-1">
                            En général, si vous disposez d'une classe
                        </p>
                        <span class="text-sm font-light text-fg">Il y a 2 jours</span>
                    </a>
                    <a href="#" class="w-full flex flex-col py-2 hover:bg-gray-100 dark:hover:bg-gray-900">
                        <h4 class="text-base sm:text-lg font-medium text-fg-heading1">
                            Les Design Patterns en Kotlin : Le Singleton
                        </h4>
                        <p class="text-fg text-sm py-1 line-clamp-1">
                            En général, si vous disposez d'une classe
                        </p>
                        <span class="text-sm font-light text-fg">Il y a 2 jours</span>
                    </a>

                    <div class="pt-4">
                        <a href="#" class="underline text-fg-heading2">
                            Voir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</twig:block>
