{% form_theme form '@admin/shared/layout/form_theme.html.twig' %}

{{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="mt-3 btn btn-primary">
        {{ 'save-fill' | icon }}
        <span>{{ 'global.submit' | trans([], 'messages') }}</span>
    </button>
{{ form_end(form) }}
