{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ 'Formations' }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader>
        <twig:DashliteHeaderLinkButton name="Ajouter" icon="plus" path="{{ path('admin_content_training_new') }}" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:DashliteResponsiveTable :data="data" emptyStateAction="Ajouter une formation" emptyStatePath="{{ path('admin_content_training_new') }}">
                <twig:block name="header">
                    <twig:DashliteResponsiveTableColumn value="Nom" col />
                    <twig:DashliteResponsiveTableColumn value="Lecture" col />
                    <twig:DashliteResponsiveTableColumn value="Statut" col />
                    <twig:DashliteResponsiveTableColumn tools />
                </twig:block>

                <twig:DashliteResponsiveTableColumn value="{{ item.name }}" />
                <twig:DashliteResponsiveTableColumn value="{{ (item.duration / 60) | round(1, 'floor') }} min"/>
                <twig:DashliteResponsiveTableColumn>{{ item.status.translationKey | trans([], 'content') | badge }}</twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction icon="eye" path="{{ path('admin_content_training_show', {id: item.id}) }}" />
                        <twig:ResponsiveTableAction icon="edit" path="{{ path('admin_content_training_edit', {id: item.id}) }}" />
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
