{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Séries d'articles" }}</twig:block>

<twig:block name="header">
    <twig:Header title="Séries d'articles">
        <twig:ModalButton name="Ajouter" icon="plus" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <twig:Modal path="{{ path('admin_content_post_series_new') }}" action="Créer une nouvelle série"  />

    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data" emptyStateAction="Créer une nouvelle série" emptyStatePath="{{ path('admin_content_post_series_new') }}">
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="Titre" col/>
                    <twig:ResponsiveTableColumn value="Articles" col/>
                    <twig:ResponsiveTableColumn value="Technologies" col />
                    <twig:ResponsiveTableColumn value="Statut" col />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn value="{{ item.name }}" />
                <twig:ResponsiveTableColumn value="{{ item.postCount }}" />
                <twig:ResponsiveTableColumn value="{{ item.technology.name }}" />
                <twig:ResponsiveTableColumn>{{ item.status.translationKey | trans([], 'content') | badge }}</twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_content_post_series_show', {id: item.id}) }}" icon="eye" />
                        <twig:ResponsiveTableAction path="{{ path('admin_content_post_series_edit', {id: item.id}) }}" icon="edit" />
                    </twig:ResponsiveTableTools>
                </twig:ResponsiveTableColumn>
            </twig:ResponsiveTable>
        </div>
    </div>
</twig:block>
