{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Séries #{data.id}" }}</twig:block>

<twig:block name="header">
    <twig:Header title="{{ data.name }}" backTitle="Toutes les séries" backPath="{{ path('admin_content_post_series_index') }}">
        <twig:HeaderLinkButton name="Éditer" path="{{ path('admin_content_post_series_edit', {id: data.id}) }}" icon="edit-alt-fill" />
        <twig:DeleteButton path="{{ path('admin_content_post_series_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_content_post_series_index') }}" type="button" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <div class="nk-block">
        <div class="row g-gs">
            <div class="col-lg-4 col-xl-4 col-xxl-3">
                <twig:Card removePadding>
                    <twig:MetaDataList>
                        <twig:MetaDataSection title="Couverture">
                            <div class="user-card user-card-s2">
                                <img src="{{ vich_uploader_asset(data, 'thumbnail_file') }}" alt="couverture {{ data.name }}">
                            </div>
                        </twig:MetaDataSection>
                        <twig:MetaDataSection title="Statistiques">
                            <div class="row text-center">
                                <div class="col-12"><div class="profile-stats"><span class="amount">{{ data.postCount }}</span><span class="sub-text">articles</span></div></div>
                            </div>
                        </twig:MetaDataSection>
                        <twig:MetaDataSection title="Détails" row>
                            <twig:MetaDataItem label="publié par" value="{{ data.owner.name }}" />
                            <twig:MetaDataItem>
                                <twig:UserAvatarLink
                                    path="{{ path('admin_authentication_user_show', {id: data.owner.id}) }}"
                                    username="{{ data.owner.username }}"
                                    surname="{{ data.owner.email }}"
                                    avatarUrl="{{ vich_uploader_asset(data.owner, 'avatar_file') }}"
                                />
                            </twig:MetaDataItem>
                            <twig:MetaDataItem label="Identifiant" value="{{ data.id }}" />
                            <twig:MetaDataItem label="Slug" value="{{ data.slug }}" />
                            <twig:MetaDataItem label="Création" value="{{ data.createdAt | date }}" />
                            <twig:MetaDataItem label="Édition" value="{{ data.updatedAt ? data.updatedAt | date : '-' }}" />
                        </twig:MetaDataSection>
                    </twig:MetaDataList>
                </twig:Card>
            </div>
            <div class="col-lg-8 col-xl-8 col-xxl-9">
                <twig:Card>
                    <twig:block name="content">
                        <div class="nk-block">
                            <div class="nk-block">
                                <div class="nk-block-head">
                                    {{ data.description }}
                                </div>
                            </div>
                        </div>

                        <div class="nk-block mt-5 center row">
                            {% for post in data.posts %}
                                <div class="nk-tb-item col-12">
                                    <div class="nk-tb-col col-6">
                                        <a href="{{ path('admin_content_post_show', {id: post.id}) }}">
                                            <div class="user-card">
                                                <div class="user-info">
                                                    <span class="tb-lead">{{ post.name }}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="nk-tb-col col-4">{{ (post.duration / 60) | round(0, 'floor') }} min</div>
                                    <div class="nk-tb-col col-4">
                                        {% if post.isOnline %}
                                            <span class="lead-text text-success">En ligne</span>
                                        {% else %}
                                            <span class="lead-text text-danger">Hors ligne</span>
                                        {% endif %}
                                    </div>
                                    <div class="nk-tb-col col-4">
                                        <a href="{{ path('admin_content_post_show', {id: post.id}) }}" class="btn btn-sm btn-primary" title="{{ 'global.show' | trans([], 'messages') }}">
                                            {{ 'global.show' | trans([], 'messages') }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </twig:block>
                </twig:Card>
            </div>
        </div>
    </div>
</twig:block>
