{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Technologies" }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader>
        <twig:DashliteHeaderLinkButton name="Ajouter une technologie" icon="plus" path="{{ path('admin_content_technology_new') }}" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:DashliteResponsiveTable :data="data" emptyStateAction="Ajouter une technologie" emptyStatePath="{{ path('admin_content_technology_new') }}">
               <twig:block name="header">
                   <twig:DashliteResponsiveTableColumn col />
                   <twig:DashliteResponsiveTableColumn value="Nom" col />
                   <twig:DashliteResponsiveTableColumn value="contenus" col />
                   <twig:DashliteResponsiveTableColumn tools />
               </twig:block>

                <twig:DashliteResponsiveTableColumn>
                    <img src="{{ vich_uploader_asset(item, 'thumbnail_file') }}" width="150" alt="{{ item.name }}">
                </twig:DashliteResponsiveTableColumn>
                <twig:DashliteResponsiveTableColumn value="{{ item.name }}" />
                <twig:DashliteResponsiveTableColumn value="{{ item.videoCount }}" />
                <twig:DashliteResponsiveTableColumn tools>
                    <twig:DashliteResponsiveTableTools>
                        <twig:DashliteResponsiveTableAction path="{{ path('admin_content_technology_edit', {id: item.id}) }}" icon="edit" />
                        <twig:DashliteResponsiveTableAction>
                            <twig:DashliteDeleteButton :id="item.id" path="{{ path('admin_content_technology_delete', {id: item.id}) }}" />
                        </twig:DashliteResponsiveTableAction>
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
