<button {{ stimulus_action('modal-form', 'open') }} class="btn btn-white btn-dim btn-outline-light">
    <twig:DashliteIcon name="{{ this.icon }}"/>
    <span>{{ this.name }}</span>
</button>
{% if this.path and this.name %}
    <twig:DashliteModal action="{{ this.name }}" path="{{ this.path }}" />
{% endif %}
