<div class="profile-ud-item">
    <div class="profile-ud {{ this.style ?? 'wider' }}">
        <span class="profile-ud-label">{{ this.label }}</span>
        <span class="profile-ud-value">
            <twig:block name="content">
                {% if this.link %}
                    <a href="{{ this.value }}" title="{{ this.label }}" aria-label="{{ this.label }}" target="_blank">
                    {{ this.value ?? '-' }}
                </a>
                {% else %}
                    {{ this.value ? this.value | raw : '-' }}
                {% endif %}
            </twig:block>
        </span>
    </div>
</div>
