{% extends '@DevscastDashlite/layout/base.html.twig' %}
<twig:block name="sidebar">{{ include('@admin/shared/_sidebar.html.twig') }}</twig:block>
<twig:block name="title">{{ 'Propositions des sujets' }}</twig:block>

<twig:block name="header">
    {% embed '@DevscastDashlite/component/_header.html.twig' %}
        <twig:block name="header_title">{{ 'Propositions des sujets' }}</twig:block>
        <twig:block name="header_action_list">
            <li class="btn-group">
                <button {{ stimulus_action('modal-form', 'open') }} class="btn btn-white btn-dim btn-outline-light">
                    <twig:Icon name="plus"/>
                    <span>proposer un sujet</span>
                </button>
                <a href="{{ path('admin_content_dashboard_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    <twig:Icon name="bar-chart"/>
                    <span>Statistiques</span>
                </a>
            </li>
        </twig:block>
    {% endembed %}
</twig:block>

<twig:block name="content">
    {% include '@DevscastDashlite/component/_modal.html.twig' with {_action: 'proposer un sujet', _path: path('admin_content_subject_proposal_new')} %}

    <div class="row g-gs mb-4">
        <div class="col-12">
            {% embed "@DevscastDashlite/component/card/_list.html.twig" %}
                {% import '@DevscastDashlite/component/_macros.html.twig' as _ %}
                <twig:block name="list_card_table_head">
                    <th>Sujet</th>
                    <th>Votes</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </twig:block>
                <twig:block name="list_card_table_body">
                    {% for row in data %}
                        <tr>
                            <td>{{ row.subject }}</td>
                            <td>{{ row.votesCount }}</td>
                            <td>{{ row.status | badge }}</td>
                            <td class="tb-odr-action">
                                <div class="tb-odr-btns d-none d-md-inline">
                                    <a href="{{ path('admin_content_subject_proposal_edit', {id: row.id}) }}" class="text-soft btn btn-icon btn-trigger" title="{{ 'global.edit' | trans([], 'messages') }}">
                                        <twig:Icon name="edit"/>
                                    </a>
                                </div>
                                {{ _.delete_icon_button('admin_content_subject_proposal_delete', row) }}
                            </td>
                        </tr>
                    {% endfor %}
                </twig:block>
            {% endembed %}
        </div>
    </div>
</twig:block>
