{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ 'Propositions des sujets' }}</twig:block>

<twig:block name="header">
    <twig:Header title="Propositions des sujets">
        <twig:FormModalButton name="proposer un sujet" icon="plus" path="{{ path('admin_content_subject_proposal_new') }}" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data" emptyStateAction="Proposer un sujet" emptyStatePath="{{ path('admin_content_subject_proposal_new') }}">
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="Sujet" col />
                    <twig:ResponsiveTableColumn value="Votes" col />
                    <twig:ResponsiveTableColumn value="Status" col />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn value="{{ item.subject }}" />
                <twig:ResponsiveTableColumn value="{{ item.votesCount }}" />
                <twig:ResponsiveTableColumn>{{ item.status | badge }}</twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_content_subject_proposal_edit', {id: item.id}) }}" icon="edit" />
                        <twig:ResponsiveTableAction>
                            <twig:DashliteDeleteButton path="{{ path('admin_content_subject_proposal_delete', {id: item.id}) }}" :item="item" />
                        </twig:DashliteResponsiveTableAction>
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
