{% extends '@DevscastDashlite/layout/base.html.twig' %}
{% block sidebar include('@admin/shared/_sidebar.html.twig') %}
{% block title 'Podcasts' %}

{% block header %}
    {% embed '@DevscastDashlite/component/_header.html.twig' %}
        {% block header_title 'Podcasts' %}
        {% block header_action_list %}
            <li class="btn-group">
                <a href="{{ path('admin_content_podcast_episode_new') }}" class="btn btn-white btn-dim btn-outline-light">
                    <twig:icon name="plus"/>
                    <span>Ajouter</span>
                </a>
                <a href="{{ path('admin_content_dashboard_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    <twig:icon name="bar-chart"/>
                    <span>Statistiques</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row g-gs mb-4">
        <div class="col-12">
            {% embed "@DevscastDashlite/component/card/_list.html.twig" with {
                _action: 'Ajouter un épisode',
                _path: path('admin_content_podcast_episode_new')
            } %}
                {% import '@DevscastDashlite/component/_macros.html.twig' as _ %}
                {% block list_card_table_head %}
                    <th>Name</th>
                    <th>Audio</th>
                    <th>En ligne</th>
                    <th>&nbsp;</th>
                {% endblock %}
                {% block list_card_table_body %}
                    {% for row in data %}
                        <tr>
                            <td>{{ row.name | u.truncate(50, '...') }}</td>
                            <td><audio style="width: 400px; height: 30px" controls src="{{ vich_uploader_asset(row, 'audio_file') }}"></audio></td>
                            <td>{{ row.isOnline | boolean }}</td>
                            <td class="tb-odr-action">
                                <div class="tb-odr-btns d-none d-md-inline">
                                    <a href="{{ path('admin_content_podcast_episode_show', {id: row.id}) }}" class="text-soft btn btn-icon btn-trigger" title="{{ 'global.show' | trans([], 'messages') }}">
                                        <twig:icon name="eye"/>
                                    </a>
                                    <a href="{{ path('admin_content_podcast_episode_edit', {id: row.id}) }}" class="text-soft btn btn-icon btn-trigger" title="{{ 'global.edit' | trans([], 'messages') }}">
                                        <twig:icon name="edit"/>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
