{% extends '@admin/shared/layout/base.html.twig' %}
{% block title "Podcast #{data.id}" %}
{% block wideContentClass 'wide-xxl' %}

{% block header %}
    {% embed "@admin/shared/component/_header.html.twig" %}
        {% block header_title %}
            Podcasts / <strong class="text-primary small">{{ data.name }}</strong>
        {% endblock %}
        {% block header_description %}
            <ul class="list-inline">
                <li>ID : <span class="text-base">{{ data.id }}</span></li>
                <li>Création : <span class="text-base">{{ data.createdAt | date }}</span></li>
                <li>Publication : <span class="text-base">{{ data.scheduledAt | date }}</span> </li>
            </ul>
        {% endblock %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('administration_content_podcast_episode_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans }}" title="{{ 'global.back' | trans }}">
                    {{ 'arrow-long-left' | icon }}
                    <span>Tous les podcasts</span>
                </a>
            </li>
            <li>
                <a href="{{ path('administration_content_podcast_episode_edit', {id: data.id}) }}" class="btn btn-primary" aria-label="{{ 'global.edit' | trans([], 'messages') }}" title="{{ 'global.edit' | trans([], 'messages') }}">
                    {{ 'edit-alt-fill' | icon }}
                    <span>{{ 'global.edit' | trans([], 'messages') }}</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "@admin/shared/component/card/_detail.html.twig" %}
        {% import '@admin/shared/component/_macros.html.twig' as _ %}
        {% block detail_card_tabs %}
            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        {{ 'user-circle' | icon }}
                        <span>Personal</span>
                    </a>
                </li>
                <li class="nav-item nav-item-trigger d-xxl-none">
                    <a href="#" class="toggle btn btn-icon btn-trigger" data-bs-target="userAside">
                        {{ 'user-list-fill' | icon }}
                    </a>
                </li>
            </ul>
        {% endblock %}
        {% block detail_card_body %}
            <div class="nk-block">
                <div class="nk-block">
                    <div class="nk-block-head">
                        {% apply markdown %}
                            {{ data.content }}
                        {% endapply %}
                    </div>
                    <div class="profile-ud-list">
                        {{ _.user_data_item('Nom', data.name) }}
                        {{ _.user_data_item("Slug", data.slug) }}
                    </div>
                </div>
                <div class="nk-divider divider md"></div>
                <div class="nk-block">
                    <div class="nk-block-head">
                        <h5 class="title">Informations supplémentaires</h5>
                    </div>
                    <div class="profile-ud-list">
                        {{ _.user_data_item("Commentaires autorisés", data.isCommentable | boolean) }}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block detail_card_aside %}
            <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl toggle-screen-xxl"
                 data-bs-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="false" data-toggle-body="false">
                <div class="card-inner-group">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <div class="card-inner">
                                            <div class="user-card user-card-s2">
                                                <img src="{{ vich_uploader_asset(data, 'thumbnail_file') }}" alt="couverture {{ data.name }}">
                                            </div>
                                        </div>
                                        <div class="card-inner card-inner-sm">
                                            <ul class="btn-toolbar justify-center gx-1">
                                                <li>{{ _.delete_icon_button('administration_content_podcast_episode_delete', data, 'administration_content_podcast_episode_index') }}</li>
                                            </ul>
                                        </div>
                                        <div class="card-inner"><h6 class="overline-title-alt mb-2">Additional</h6>
                                            <div class="row g-3">
                                                <div class="col-6">
                                                    <span class="sub-text">écoutes (unique)</span>
                                                    <span>4599</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="sub-text">écoutes (total)</span>
                                                    <span>9000</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="sub-text">Status</span>
                                                    {% if data.isOnline %}
                                                        <span class="lead-text text-success">En ligne</span>
                                                    {% else %}
                                                        <span class="lead-text text-danger">Hors ligne</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-6">
                                                    <span class="sub-text">Publication:</span>
                                                    <span>{{ data.scheduledAt | date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-inner"><h6 class="overline-title-alt mb-3">Tags</h6>
                                            <ul class="g-1">
                                                {% for tag in data.tags %}
                                                    <li class="btn-group">
                                                        <a class="btn btn-xs btn-info btn-dim" href="#">{{ tag.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="card-inner"><h6 class="overline-title-alt mb-3">Technologies</h6>
                                            <ul class="g-1">
                                                {% for technology in data.technologies %}
                                                    <li class="btn-group">
                                                        <a class="btn btn-xs btn-info btn-dim" href="#">{{ technology.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
