{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Saisons #{data.name}" }}</twig:block>

<twig:block name="header">
    <twig:Header title="{{ data.name }}" backTitle="Toutes les saisons" backPath="{{ path('admin_content_podcast_season_index') }}" >
        <twig:HeaderLinkButton name="Éditer" path="{{ path('admin_content_podcast_season_edit', {id: data.id}) }}" icon="edit-alt-fill" />
        <twig:DeleteButton path="{{ path('admin_content_podcast_season_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_content_podcast_season_index') }}" type="button" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <twig:Card>
        <twig:block name="content">
            <div class="nk-block">
                <div class="nk-block">
                    <div class="nk-block-head">
                        {{ data.description }}
                    </div>
                    <twig:DataList>
                        <twig:DataItem style="plain" label="Nom" value="{{ data.name }}" />
                        <twig:DataItem style="plain" label="Slug" value="{{ data.slug }}" />
                        <twig:DataItem style="plain" label="Short Code" value="{{ data.shortcode }}" />
                    </twig:DataList>
                </div>
            </div>

            <div class="nk-block mt-5 center row">
                {% for episode in data.episodes %}
                    <div class="nk-tb-item col-12">
                        <div class="nk-tb-col col-6">
                            <a href="{{ path('admin_content_podcast_episode_show', {id: episode.id}) }}">
                                <div class="user-card">
                                    <div class="user-info">
                                        <span class="tb-lead">{{ episode.name }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nk-tb-col col-4">
                            <audio style="width: 400px; height: 30px" controls src="{{ vich_uploader_asset(episode, 'audio_file') }}"></audio>
                        </div>
                        <div class="nk-tb-col col-2">
                            {% if episode.isOnline %}
                                <span class="badge badge-dim badge-danger">En ligne</span>
                            {% endif %}
                        </div>
                        <div class="nk-tb-col col-2">
                            <a href="{{ path('admin_content_podcast_episode_show', {id: episode.id}) }}" class="btn btn-sm btn-primary" title="{{ 'global.show' | trans([], 'messages') }}">
                                {{ 'global.show' | trans([], 'messages') }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </twig:block>
    </twig:Card>
</twig:block>
