{{ "{% extends '@admin/shared/layout/base.html.twig' %}" }}
{{ "<twig:block name=\"title\">{{ 'Listing #{entity}' | title }}</twig:block>" | raw }}

{{ "<twig:block name=\"header\">" }}
    {{ "<twig:DashliteHeader title=\"Listing #{entity}\">" | raw }}
        {{ "<twig:DashliteHeaderLinkButton name=\"Ajouter\" path=\"{{ path('admin_#{domain}_#{entity}_new') }}\" icon=\"plus\" />" | raw }}
    {{ "</twig:DashliteHeader>" }}
{{ "</twig:block>" }}

{{ "<twig:block name=\"content\">" }}
    {{ "<div class=\"row g-gs mb-4\">" }}
        {{ "<div class=\"col-12\">" }}
            {{ "<twig:DashliteResponsiveTable :data=\"data\" emptyStatePath=\"{{ path('admin_#{domain}_#{entity}_new') }}\" emptyStateAction=\"Ajouter un.e #{entity}\">" | raw }}
                {{ "<twig:block name=\"header\">" }}
                   {{ "<twig:DashliteResponsiveTableColumn value=\"Id\" col />" }}
                   {{ "<twig:DashliteResponsiveTableColumn tools />" }}
                {{ "</twig:block>" }}

                {{ "<twig:DashliteResponsiveTableColumn :value=\"item.id\" />" }}
                {{ "<twig:DashliteResponsiveTableColumn tools>" }}
                    {{ "<twig:DashliteResponsiveTableTools>" }}
                        {{ "<twig:DashliteResponsiveTableAction path=\"{{ path('admin_#{domain}_#{entity}_edit', {id: item.id}) }}\" icon=\"edit\" />" | raw }}
                        {{ "<twig:DashliteResponsiveTableAction>" }}
                            {{ "<twig:DashliteDeleteButton path=\"{{ path('admin_#{domain}_#{entity}_delete', {id: item.id}) }}\" :id=\"item.id\" />" | raw }}
                        {{ "</twig:DashliteResponsiveTableAction>" }}
                    {{ "</twig:DashliteResponsiveTableTools>" }}
               {{ "</twig:DashliteResponsiveTableColumn>" }}
            {{ "</twig:DashliteResponsiveTable>" }}
        {{ "</div>" }}
    {{ "</div>" }}
{{ "</twig:block>" }}
