{{ "{% extends '@DevscastDashlite/layout/base.html.twig' %}" }}
{{  "<twig:block name="sidebar">{{ include('@admin/shared/_sidebar.html.twig') }}</twig:block>" }}
{{ "<twig:block name="title">{{ '#{entity}' }}</twig:block>" | raw }}

{{ "<twig:block name="header">" }}
    {{ "{% embed '@DevscastDashlite/component/_header.html.twig' %}" }}
        {{ "<twig:block name="header_title">{{ 'Listing' }}</twig:block>" }}
        {{ "<twig:block name="header_action_list">" }}
            <li class="btn-group">
                <a href="{{ "{{ path('admin_#{domain}_#{entity}_new') }}" | raw }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ "<twig:DashliteIcon name="plus"/>" | raw }}
                    <span>Ajouter</span>
                </a>
            </li>
        {{ "</twig:block>" }}
    {{ "{% endembed %}" }}
{{ "</twig:block>" }}


{{ "<twig:block name="content">" }}
    {{ "{% embed '@DevscastDashlite/component/card/_list.html.twig' with {_action: 'Ajouter', _path: path('admin_#{domain}_#{entity}_new')} %}" | raw }}
        {{ "<twig:block name="list_card_table">" }}
            {{ "{% embed '@DevscastDashlite/component/_responsive_table.html.twig' %}" | raw }}
                {{ "<twig:block name="responsive_table_head">" }}
                    <div class="nk-tb-col"><span class="sub-text">Nom</span></div>
                    <div class="nk-tb-col nk-tb-col-tools"></div>
                {{ "</twig:block>" }}
                {{ "<twig:block name="responsive_table_body">" }}
                    {{ "{% for item in data %}" }}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col tb-col-lg"><span>{{ "{{ item.name | u.truncate(110, '...') }}" | raw }}</span></div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li class="nk-tb-action-hidden">
                                        <a href="{{ "{{ path('admin_#{domain}_#{entity}_show', {id: item.id}) }}" | raw }}" class="btn btn-icon btn-trigger" title="{{ 'global.show' | trans([], 'messages') }}">
                                            {{ "<twig:DashliteIcon name="eye"/>" | raw }}
                                        </a>
                                        <a href="{{ "{{ path('admin_#{domain}_#{entity}_edit', {id: item.id}) }}" | raw }}" class="btn btn-icon btn-trigger" title="{{ 'global.edit' | trans([], 'messages') }}">
                                            {{ "<twig:DashliteIcon name="edit"/>" | raw }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{ "{% endfor %}" }}
                {{ "</twig:block>" }}
            {{ "{% endembed %}" }}
        {{ "</twig:block>" }}
    {{ "{% endembed %}" }}
{{ "</twig:block>" }}
