{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Listes d'articles" }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader title="Listes d'articles" />
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:DashliteResponsiveTable :data="data">
                <twig:block name="header">
                    <twig:DashliteResponsiveTableColumn value="Auteur" col />
                    <twig:DashliteResponsiveTableColumn value="Titre" col />
                    <twig:DashliteResponsiveTableColumn value="Articles" col />
                    <twig:DashliteResponsiveTableColumn tools />
                </twig:block>

                <twig:DashliteResponsiveTableColumn>
                    <twig:DashliteUserAvatarLink
                        path="{{ path('admin_authentication_user_show', {id: item.owner.id}) }}"
                        username="{{ item.owner.username }}"
                        surname="{{ item.owner.email }}"
                        avatarUrl="{{ vich_uploader_asset(item.owner, 'avatar_file') }}"
                    />
                </twig:DashliteResponsiveTableColumn>
                <twig:DashliteResponsiveTableColumn value="{{ item.name }}" />
                <twig:DashliteResponsiveTableColumn value="{{ item.postCount }}" />
                <twig:DashliteResponsiveTableColumn tools>
                    <twig:DashliteResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_content_post_list_show', {id: item.id}) }}" icon="eye" />
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
