{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Listes d'articles" }}</twig:block>

<twig:block name="header">
    <twig:Header title="Listes d'articles" />
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data">
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="Auteur" col />
                    <twig:ResponsiveTableColumn value="Titre" col />
                    <twig:ResponsiveTableColumn value="Articles" col />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn>
                    <twig:UserAvatarLink
                        path="{{ path('admin_authentication_user_show', {id: item.owner.id}) }}"
                        username="{{ item.owner.username }}"
                        surname="{{ item.owner.email }}"
                        avatarUrl="{{ vich_uploader_asset(item.owner, 'avatar_file') }}"
                    />
                </twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn value="{{ item.name }}" />
                <twig:ResponsiveTableColumn value="{{ item.postCount }}" />
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_content_post_list_show', {id: item.id}) }}" icon="eye" />
                    </twig:ResponsiveTableTools>
                </twig:ResponsiveTableColumn>
            </twig:ResponsiveTable>
        </div>
    </div>
</twig:block>
