{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "List #{data.id}" }}</twig:block>

<twig:block name="header">
    <twig:Header title="{{ data.name }}" backTitle="Toutes les listes" backPath="{{ path('admin_content_post_list_index') }}">
        <twig:HeaderLinkButton name="Éditer" path="{{ path('admin_content_post_list_edit', {id: data.id}) }}" icon="edit-alt-fill" />
        <twig:DashliteDeleteButton path="{{ path('admin_content_post_list_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_content_post_list_index') }}" type="button" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <twig:Card>
        <twig:block name="content">
            <div class="nk-block">
                <div class="nk-block">
                    <div class="nk-block-head">
                        {{ data.description }}
                    </div>
                </div>
            </div>

            <div class="nk-block mt-5 center row">
                {% for post in data.posts %}
                    <div class="nk-tb-item col-12">
                        <div class="nk-tb-col col-6">
                            <a href="{{ path('admin_content_post_show', {id: post.id}) }}">
                                <div class="user-card">
                                    <div class="user-info">
                                        <span class="tb-lead">{{ post.name }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="nk-tb-col col-4">{{ (post.duration / 60) | round(0, 'floor') }} min</div>
                        <div class="nk-tb-col col-4">
                            {% if post.isOnline %}
                                <span class="lead-text text-success">En ligne</span>
                            {% else %}
                                <span class="lead-text text-danger">Hors ligne</span>
                            {% endif %}
                        </div>
                        <div class="nk-tb-col col-4">
                            <a href="{{ path('admin_content_post_show', {id: post.id}) }}" class="btn btn-sm btn-primary" title="{{ 'global.show' | trans([], 'messages') }}">
                                {{ 'global.show' | trans([], 'messages') }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </twig:block>
    </twig:Card>
</twig:block>
