{% extends '@app/domain/authentication/layout/base.html.twig' %}
<twig:block name="title">{{ 'authentication.titles.register' | trans([], 'authentication') }}</twig:block>

<twig:block name="body">
    <div class="w-full h-full overflow-hidden lg:flex items-center relative">
        <div class="w-full lg:w-auto lg:max-w-7xl px-6 sm:px-12 mx-auto xl:px-0">
            <div class="relative w-full m-auto">
                <div class="min-h-screen flex flex-col justify-between py-12">
                    <div>
                        <div aria-hidden="true" class="absolute right-0 scale-y-[2.5] rotate-45 w-28 h-96 blur-[5rem] rounded-full bg-secondary-300/30 dark:bg-info-400/50"></div>
                        <div>
                            <a href="{{ path('app_index') }}" title="accueil">
                                <img src="{{ asset(devscast_dashlite.application.logo_path) }}" class="w-10" alt="devscast logo" />
                            </a>
                        </div>
                        <div class="relative lg:flex justify-between items-center">
                            <div class="lg:w-3/5 lg:max-w-md peer order-last">
                                <div class="mt-8 rounded-outer-radius shadow-2xl bg-background-card border border-bdr p-8 sm:p-10 xl:p-12 2xl:p-16">
                                    <h1 class="text-2xl text-fg-heading1">Rejoignez la communauté</h1>
                                    <div class="mt-8 grid gap-6 sm:grid-cols-2">
                                        <a href="{{ path('authentication_oauth_connect', {service: 'github'}) }}" title="connexion via github" class="h-11 rounded-md btn before:border px-6 before:transition before:border-bdr before:bg-background-card-inside">
                                            <div class="flex items-center justify-center space-x-4 text-fg-heading2 relative z-[6]">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-5" viewBox="0 0 16 16">
                                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                                </svg>
                                                <span class="block w-max text-sm font-medium tracking-wide text-fg-heading2">Github</span>
                                            </div>
                                        </a>
                                        <a href="{{ path('authentication_oauth_connect', {service: 'google'}) }}" title="connexion via google" class="h-11 rounded-md btn before:border px-6 before:transition before:border-bdr before:bg-background-card-inside">
                                            <div class="flex items-center justify-center space-x-4 relative z-[6]">
                                                <img src="https://tailus.io/sources/blocks/plus-social/preview/images/google.svg" class="w-5" alt="" />
                                                <span class="block w-max text-sm font-medium tracking-wide text-cyan-700 dark:text-fg-heading2">Google</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-8 h-px bg-bdr"></div>
                                    <span class="block px-4 -mt-3.5 w-max mx-auto text-fg-heading2 bg-background-card-inside rounded-md">Ou</span>

                                    {{ form_start(form, {attr: {class: 'mt-8 space-y-8 text-neutral-600  dark:text-fg-heading2'}}) }}
                                    {{ form_row(form.username) }}

                                    {% if not is_oauth %}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.password) }}
                                    {% endif %}

                                    <div>
                                        <button class="group w-full flex justify-center items-center btn btn-md dark:before:bg-primary dark:text-gray-900 before:bg-gray-900 text-gray-50 rounded-lg">
                                            <span class="relative z-[6]">Rejoindre</span>
                                        </button>
                                        <a href="{{ path('authentication_login') }}" title="J'ai déjà un compte" class="inline-block mt-4 -ml-3 w-max px-3  text-sky-500 dark:text-sky-300 hover:text-sky-600">
                                            <span class="text-sm tracking-wide">Je suis déjà membre</span>
                                        </a>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                            <div class="lg:w-2/5 lg:min-w-[20rem] peer-hover:opacity-50 lg:block hidden transition duration-300">
                                <div class="py-20 space-y-12">
                                    <div class="hover:opacity-100 flex items-start gap-x-4 md:gap-x-6">
                                        <div class="min-w-max">
                                            <img class="h-10 w-auto" src="{{ asset('/images/icons/8299976.png') }}" alt="connexion">
                                        </div>
                                        <div>
                                            <h2 class="text-2xl font-medium text-fg-heading1">Connectez-vous</h2>
                                            <p class="mt-2 font-light text-base text-fg">
                                                Notre plateforme communautaire est un excellent moyen de se connecter avec des personnes partageant les mêmes intérêts et d'apprendre de nouvelles choses.
                                                Vous pouvez participer à des discussions avec d'autres membres de la communauté sur une variété de sujets
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hover:opacity-100 flex items-start gap-x-4 md:gap-x-6">
                                        <div class="min-w-max">
                                            <img class="h-10 w-auto" src="{{ asset('/images/icons/network.png') }}" alt="apprentissage">
                                        </div>
                                        <div>
                                            <h2 class="text-2xl font-medium text-fg-heading1">Partagez - Apprenez</h2>
                                            <p class="mt-2 font-light text-base text-fg">
                                                Nous pensons que chacun a quelque chose à offrir, et nous encourageons la participation active de tous les membres de la communauté.
                                                Nous croyons que la communauté est plus forte lorsque les gens sont prêts à partager leurs connaissances et à apprendre les uns des autres
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hover:opacity-100 flex items-start gap-x-4 md:gap-x-6">
                                        <div class="min-w-max">
                                            <img class="h-10 w-auto" src="{{ asset('/images/icons/growing.png') }}" alt="grandir">
                                        </div>
                                        <div>
                                            <h2 class="text-2xl font-medium text-fg-heading1">Grandissez</h2>
                                            <p class="mt-2 font-light text-base text-fg">
                                                Notre plateforme communautaire est un excellent moyen d'obtenir des conseils et des recommandations d'autres professionnels.
                                                Vous pouvez poser des questions sur votre carrière, vos projets ou vos objectifs.
                                                Vous pouvez également obtenir des conseils sur la façon de développer vos compétences, de trouver un emploi ou de lancer votre propre entreprise.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-t mt-12 border-t-bdr pt-12 text-fg">
                        <div class="space-x-4 text-center text-sm">
                          <span class="font-light hover:text-fg-heading2">
                               &copy; {{ devscast_dashlite.application.copyrights }} 2019 - {{ 'now' | date('Y') }}
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</twig:block>
