{% extends '@app/domain/authentication/layout/base.html.twig' %}
{% block title 'authentication.titles.register' | trans([], 'authentication') %}

{% block bodyClass 'min-h-screen bg-neutral-lighter dark:bg-neutral-dark' %}
{% block body %}
    <div class="w-full h-full overflow-hidden lg:flex items-center">
        <div class="w-full lg:w-auto lg:max-w-7xl px-6 sm:px-12 mx-auto xl:px-0">
            <div class="relative w-full m-auto">
                <div class="min-h-screen flex flex-col justify-between py-12">
                    <div>
                        <div aria-hidden="true" class="absolute right-0 scale-y-[2.5] rotate-45 w-28 h-96 blur-[5rem] rounded-full bg-secondary-300/30 dark:bg-info-400/50"></div>
                        <div>
                            <a href="{{ path('app_index') }}">
                                <img src="{{ asset('images/logo-dark.png') }}" loading="lazy" class="w-10 dark:hidden" alt="devscast logo" />
                                <img src="{{ asset('images/logo.png') }}" loading="lazy" class="w-10 hidden dark:inline-block" alt="devscast logo" />
                            </a>
                        </div>
                        <div class="relative lg:flex justify-between items-center">
                            <div class="lg:w-2/5 peer order-last">
                                <div class="mt-8 bg-white border border-neutral-light rounded-3xl shadow-2xl shadow-neutral-300/20 dark:shadow-none dark:border-neutral-700 dark:bg-neutral-800/80 p-8 sm:p-10 xl:p-12 2xl:p-16">
                                    <h1 class="text-2xl text-neutral-800 dark:text-white">Inscrivez-vous</h1>

                                    {{ form_start(form, {attr: {class: 'mt-8 space-y-8 text-neutral-600  dark:text-white'}}) }}
                                        {{ form_row(form.username) }}

                                        {% if not is_oauth %}
                                            {{ form_row(form.email) }}
                                            {{ form_row(form.password) }}
                                        {% endif %}

                                        {{ form_row(form.is_subscribed_newsletter) }}
                                        {{ form_row(form.is_subscribed_marketing) }}

                                        <div>
                                            <button class="group w-full flex justify-center items-center btn btn-primary">
                                                <span class="w-max relative z-[1] font-medium text-primary-dark">
                                                    {{ 'global.submit' | trans([], 'messages') }}
                                                </span>
                                            </button>
                                            <a href="{{ path('authentication_login') }}" title="J'ai déjà un compte" aria-label="J'ai déjà un compte" class="inline-block mt-4 -ml-3 w-max px-3 text-info-500 hover:text-info-400 dark:text-info-300 dark:hover:text-info-light">
                                                <span class="text-sm tracking-wide">J'ai déjà un compte</span>
                                            </a>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                            <div class="w-2/5 peer-hover:opacity-50 lg:block hidden transition duration-300">
                                <div class="py-20 space-y-12">
                                    <div class="hover:opacity-100">
                                        <img class="h-10 w-auto" src="https://cdn-icons-png.flaticon.com/512/8299/8299976.png" alt="">
                                        <h2 class="mt-6 text-2xl font-medium text-neutral-700 dark:text-neutral-light">Connectez-vous</h2>
                                        <p class="mt-2 font-light text-base text-neutral-500 dark:text-neutral-400">Dedit consequatur magnam labore iusto consequuntur, recusandae sint perferendis ut.</p>
                                    </div>
                                    <div>
                                        <img class="h-10 w-auto" src="https://cdn-icons-png.flaticon.com/512/8290/8290016.png" alt="">
                                        <h2 class="mt-6 text-2xl font-medium text-neutral-700 dark:text-neutral-light">Partagez - Apprenez</h2>
                                        <p class="mt-2 font-light text-base text-neutral-500 dark:text-neutral-400">Dedit consequatur magnam labore iusto consequuntur, recusandae sint perferendis ut.</p>
                                    </div>
                                    <div>
                                        <img class="h-10 w-auto" src="https://cdn-icons.flaticon.com/png/512/3153/premium/3153346.png?token=exp=1660989146~hmac=7fadb1fcfc44484934c001b689997555" alt="">
                                        <h2 class="mt-6 text-2xl font-medium text-neutral-700 dark:text-neutral-light">Grandissez</h2>
                                        <p class="mt-2 font-light text-base text-neutral-500 dark:text-neutral-400">Dedit consequatur magnam labore iusto consequuntur, recusandae sint perferendis ut.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-t mt-12 border-neutral-lighter pt-12 text-neutral-500 dark:border-neutral-800">
                        <div class="space-x-4 text-center text-sm">
                            <span class="text-neutral-300 font-light hover:text-neutral-400 dark:text-neutral-500 dark:hover:text-neutral-300">&copy; Devscast</span>
                            <a href="#" class="text-neutral-400 font-light hover:text-neutral-500 dark:text-neutral-500 dark:hover:text-neutral-300">Contact</a>
                            <a href="#" class="text-neutral-400 font-light hover:text-neutral-500 dark:text-neutral-500 dark:hover:text-neutral-300">Privacy & Terms</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


