{% extends '@app/domain/authentication/layout/base.html.twig' %}
{% block title 'authentication.titles.reset_password_confirm' | trans([], 'authentication') %}

{% block content %}
    <div class="mt-8 bg-white border border-neutral-light rounded-3xl shadow-2xl shadow-neutral-300/20 dark:shadow-none dark:border-neutral-700 dark:bg-neutral-800 -mx-6 sm:-mx-10 p-8 sm:p-10 xl:p-12 2xl:p-16">
        <h1 class="text-2xl text-neutral-800 dark:text-white">{{ 'authentication.titles.reset_password_confirm' | trans([], 'authentication') }}</h1>

        {{ form_start(form, {attr: {class: 'mt-8 space-y-8 text-neutral-600  dark:text-white'}}) }}
            <div class="flex flex-col items-end">
                {{ form_row(form.password) }}
            </div>
            <button type="submit" class="group w-full flex justify-center items-center btn btn-primary">
                <span class="w-max relative z-[1] font-medium text-primary-dark">
                    {{ "global.submit" | trans([], 'messages') }}
                </span>
            </button>
            <a href="{{ path('authentication_login') }}" class="inline-block mt-4 -ml-3 w-max px-3 text-info-500 hover:text-info-400 dark:text-info-300 dark:hover:text-info-light">
                <span class="text-sm tracking-wide">Se connecter</span>
            </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
