<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ml-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu">
                    <twig:icon name="menu"/>
                </a>
            </div>
            <div class="nk-header-brand d-xl-none">
                <a href="/" class="logo-link">
                    <img class="logo-light logo-img" src="{{ asset('images/logo.png') }}" alt="logo">
                    <img class="logo-dark logo-img" src="{{ asset('images/logo-dark.png') }}" alt="logo-dark">
                </a>
            </div>
            {% block navbar_content %}{% endblock %}
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    {% block navbar_tool_list %}{% endblock %}
                    {% if app.user %}
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle mr-n1" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="user-toggle">
                                    <div class="user-avatar sm">
                                        {% if app.user.avatar.name %}
                                            <img src="{{ vich_uploader_asset(app.user, 'avatar_file') }}" alt="{{ app.user.username }}">
                                        {% else %}
                                            <twig:icon name="user"/>
                                        {% endif %}
                                    </div>
                                    <div class="user-info d-none d-xl-block">
                                        <div class="user-status user-status-verified">{{ app.user.roles | last | trans([], 'messages') }}</div>
                                        <div class="user-name dropdown-indicator">{{ app.user.email }}</div>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                    <div class="user-card">
                                        <div class="user-avatar">
                                            {% if app.user.avatar.name %}
                                                <img src="{{ vich_uploader_asset(app.user, 'avatar_file') }}" alt="{{ app.user.username }}">
                                            {% else %}
                                                <twig:icon name="user"/>
                                            {% endif %}
                                        </div>
                                        <div class="user-info">
                                            <span class="sub-text">{{ app.user.username }}</span>
                                            <span class="sub-text">{{ app.user.email }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-inner">
                                    <ul class="link-list">
                                        <li>
                                            <a href="#" title="Paramètres">
                                                <twig:icon name="setting"/>
                                                <span>Paramètres</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dark-switch" href="#">
                                                <twig:icon name="moon"/>
                                                <span>Mode Sombre</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ logout_url('main') }}" title="Déconnexion" aria-label="Déconnexion">
                                                <twig:icon name="signout"/>
                                                <span>Déconnexion</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
