<button {{ stimulus_action('modal-form', 'open') }} class="btn btn-white btn-dim btn-outline-light">
    <twig:Icon name="{{ this.icon }}"/>
    <span>{{ this.name }}</span>
</button>
{% if this.action and this.name %}
    <twig:Modal action="{{ this.name }}" path="{{ this.action }}" />
{% endif %}
