{% extends '@DevscastDashlite/layout/base.html.twig' %}
<twig:block name="sidebar">{{ include('@admin/shared/_sidebar.html.twig') }}</twig:block>
<twig:block name="title">Édition Utilisateur</twig:block>

<twig:block name="header">
    <twig:Header title="Édition Utilisateur">
        <twig:block name="actions">
            <a href="{{ _index_url }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans }}" title="{{ 'global.back' | trans }}">
                {{ 'arrow-long-left' | icon }}
                <span>Toutes les entrées</span>
            </a>
            {% if _show_url %}
                <a href="{{ _show_url }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.show' | trans }}" title="{{ 'global.show' | trans }}">
                    {{ 'eye' | icon }}
                    <span>revenir aux détails</span>
                </a>
            {% endif %}
        </twig:block>
    </twig:Header>
</twig:block>

<twig:block name="content">
    {% if app.user == data %}
        <twig:Alert state="warning" type="pro" message="Modifier les informations de votre propre compte entraîne une déconnexion
            et ceci peut également entraîner à une perte d'accès au système.
            Modifier vos informations depuis vos paramètres de profil." dismissible />
    {% endif %}

    <twig:Card>
        <twig:block name="content">
            <twig:Form :form="form" />
        </twig:block>
    </twig:Card>
</twig:block>
