{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">Utilisateurs</twig:block>

<twig:block name="header">
    <twig:Header title="Utilisateurs" :data="data">
        <twig:HeaderLinkButton name="Ajouter" path="{{ path('admin_authentication_user_new') }}" icon="plus" />
        <twig:HeaderLinkButton name="Statistiques" path="{{ path('admin_authentication_dashboard_index') }}" icon="bar-chart" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data" separated>
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="utilisateur" col/>
                    <twig:ResponsiveTableColumn value="Github" col />
                    <twig:ResponsiveTableColumn value="Rôles" col />
                    <twig:ResponsiveTableColumn value="Confirmé" col />
                    <twig:ResponsiveTableColumn value="Pays" col />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn>
                    <twig:UserAvatarLink
                        path="{{ path('admin_authentication_user_show', {id: item.id}) }}"
                        username="{{ item.username }}"
                        surname="{{ item.email }}"
                        avatarUrl="{{ vich_uploader_asset(item, 'avatar_file') }}"
                    />
                </twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn>
                    <a href="{{ item.githubUrl }}" title="github of {{ item.username }}" target="_blank">{{ item.githubUrl }}</a>
                </twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn>{{ item.roles | join(' ') | badge }}</twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn>{{ item.confirmed | boolean }}</twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn>{{ item.country | flag }}</twig:DashliteResponsiveTableColumn>
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_authentication_user_show', {id: item.id}) }}" icon="eye" />
                        <twig:ResponsiveTableAction>
                            <twig:DashliteDeleteButton path="{{ path('admin_authentication_user_delete', {id: item.id}) }}" :item="item" />
                        </twig:DashliteResponsiveTableAction>
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
