{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">Utilisateur {{ data.username }}</twig:block>
<twig:block name="wideContentClass">wide-xxl</twig:block>

<twig:block name="header">
    <twig:Header :title='data.username'>
        <twig:block name="description">
            <ul class="list-inline">
                <li>Inscription : <span class="text-base">{{ data.createdAt | date }}</span></li>
            </ul>
        </twig:block>
        <twig:block name="content">
            <twig:HeaderLinkButton name="Tous les utilisateurs" path="{{ path('admin_authentication_user_index') }}" icon="arrow-long-left" />
            <twig:HeaderLinkButton name="Éditer" path="{{ path('admin_authentication_user_edit', {id: data.id}) }}" icon="edit-alt-fill" />
            <twig:DeleteButton path="{{ path('admin_authentication_user_delete', {id: data.id}) }}" :item="data" redirect="{{ path('admin_authentication_user_index') }}" type="button" />
        </twig:block>
    </twig:Header>
</twig:block>

<twig:block name="content">
    <twig:AsideCard>
        <twig:block name="tabs">
            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <twig:Icon name="user-circle" />
                        <span>Personal</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <twig:Icon name="repeat" />
                        <span>Contenus</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">
                        <twig:Icon name="repeat" />
                        <span>Transactions</span>
                    </a>
                </li>
                <li class="nav-item nav-item-trigger d-xxl-none">
                    <a href="#" class="toggle btn btn-icon btn-trigger" data-target="userAside">
                        <twig:Icon name="user-list-fill" />
                    </a>
                </li>
            </ul>
        </twig:block>

        <twig:block name="content">
            <div class="nk-block">
                <twig:DataList title="Informations personnelles" :description="data.biography">
                    <twig:DataItem label="Nom complet" :value="data.name" />
                    <twig:DataItem label="Nom d'utilisateur" :value="data.username" />
                    <twig:DataItem label="Email" :value="data.email" />
                    <twig:DataItem label="Pronoms" :value="data.pronouns" />
                    <twig:DataItem label="Poste" :value="data.jobTitle" />
                    <twig:DataItem label="Genre" :value="data.gender.translationKey | trans([], 'authentication')" />
                    <twig:DataItem label="Pays" :value="data.country | flag" />
                    <twig:DataItem label="Rôle" :value="data.roles | last | badge " />
                    <twig:DataItem label="Linkedin" :value="data.linkedinUrl" link="true" />
                    <twig:DataItem label="Twitter" :value="data.twitterUrl" link="true" />
                    <twig:DataItem label="Github" :value="data.githubUrl" link="true" />
                    <twig:DataItem label="Site Internet" :value="data.githubUrl" link="true"/>
                    <twig:DataItem label="Flux Rss" :value="data.rssUrl" link="true" />
                </twig:DataList>
                <div class="nk-divider divider md"></div>
                <twig:DataList title="Informations supplémentaires">
                    <twig:DataItem label="Bannis" :value="data.banned | boolean" />
                    <twig:DataItem label="Email vérifié" :value="data.isEmailVerified | boolean" />
                    <twig:DataItem label="Thème sombre" :value="data.isDarkTheme | boolean" />
                    <twig:DataItem label="Téléphone vérifié" :value="data.isPhoneNumberVerified | boolean" />
                    <twig:DataItem label="Newsletter" :value="data.isSubscribedNewsletter | boolean" />
                    <twig:DataItem label="Marketing" :value="data.isSubscribedMarketing | boolean" />
                    <twig:DataItem label="2FA activé" :value="data.twoFactorEnabled | boolean" />
                    <twig:DataItem label="Date de bannissement" :value="data.bannedAt ? data.bannedAt | date : '-'" />
                </twig:DataList>
            </div>
        </twig:block>

        <twig:block name="aside">
            <div class="card-aside card-aside-right user-aside toggle-slide toggle-slide-right toggle-break-xxl toggle-screen-xxl" data-content="userAside" data-toggle-screen="xxl" data-toggle-overlay="false" data-toggle-body="false">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="user-card user-card-s2">
                            <div class="user-avatar lg bg-primary">
                                {% if data.avatar.name %}
                                    <img src="{{ vich_uploader_asset(data, 'avatar_file') }}" alt="avatar {{ data.username }}">
                                {% else %}
                                    <span>{{ data.initials }}</span>
                                {% endif %}
                            </div>
                            <div class="user-info">
                                <div class="badge bg-outline-light rounded-pill ucap">{{ data.roles | last | trans([], 'messages') }}</div>
                                <h5>{{ data.username }}</h5>
                                <span class="sub-text">{{ data.email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner card-inner-sm">
                        <ul class="btn-toolbar justify-center gx-1">
                            <li>
                                {% if not data.banned %}
                                    <button
                                        class="text-soft btn btn-icon btn-trigger"
                                        is="app-action-button"
                                        endpoint="{{ path('admin_authentication_user_ban', {id: data.id}) }}"
                                        redirect="{{ path('admin_authentication_user_show', {id: data.id}) }}"
                                        title="{{ 'global.ban' | trans([], 'messages') }}"
                                    >
                                        <twig:Icon name="shield" />
                                    </button>
                                {% else %}
                                    <button
                                        class="text-soft btn btn-icon btn-trigger"
                                        is="app-action-button"
                                        endpoint="{{ path('admin_authentication_user_unban', {id: data.id}) }}"
                                        redirect="{{ path('admin_authentication_user_show', {id: data.id}) }}"
                                        title="{{ 'global.unban' | trans([], 'messages') }}"
                                    >
                                        <twig:Icon name="shield-off" />
                                    </button>
                                {% endif %}
                            </li>
                            <li><a href="{{ path('admin_authentication_user_email', {id: data.id}) }}" class="btn text-soft btn-trigger btn-icon"><twig:Icon name="mail"/></a></li>
                        </ul>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-2">Additional</h6>
                        <div class="row g-3">
                            <div class="col-6">
                                <span class="sub-text">Last Ip:</span>
                                <span>{{ data.lastLoginIp }}</span>
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Last Login:</span>
                                <span>{{ data.lastLoginAt ? data.lastLoginAt | date : '-' }}</span>
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Account Status:</span>
                                {% if data.confirmed %}
                                    <span class="lead-text text-success">confirmed</span>
                                {% else %}
                                    <span class="lead-text text-danger">unconfirmed</span>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <span class="sub-text">Register At:</span>
                                <span>{{ data.createdAt | date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-3">Rôles</h6>
                        <ul class="g-1">
                            {% for role in data.roles %}
                                <li class="btn-group">
                                    <a class="btn btn-xs btn-info btn-dim" href="#">{{ role | trans([], 'messages') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-inner"><h6 class="overline-title-alt mb-3">Technologies</h6>
                        <ul class="g-1"></ul>
                    </div>
                </div>
            </div>
        </twig:block>
    </twig:AsideCard>
</twig:block>
