{% apply spaceless %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}" class="js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">
        <title>{{ exception.statusCode }} {{ exception.statusText }} | {{ devscast_dashlite.application.name }}</title>
        <twig:block name="assets">
            {{ encore_entry_link_tags('admin') }}
            {{ encore_entry_script_tags('admin')}}
        </twig:block>

        <style>
            .pattern {
                background-color: #e5e5f7;
                background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #9C7FE155, #9C7FE1 );
            }
        </style>
    </head>

    <body class="nk-body bg-white npc-default pg-error pattern">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <h1 class="nk-error-head">{{ exception.statusCode }}</h1>
                            <h3 class="nk-error-title">{{ exception.statusText }}</h3>
                            <p class="nk-error-text">Désolé nous n'arrivons pas à charger cette page...</p>
                            <a href="/" class="btn btn-lg btn-primary mt-2">Rentrer sur terre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endapply %}
