{% extends '@DevscastDashlite/layout/base.html.twig' %}
{% set _title = (data is defined and data) ? "Édition #{ _entity | trans([], _domain) }" : "Création #{_entity | trans([], _domain)}" %}
<twig:block name="title">{{ _title }}</twig:block>

<twig:block name="header">
    <twig:Header :title="_title">
        <twig:block name="content">
            <a href="{{ _index_url }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans }}" title="{{ 'global.back' | trans }}">
                <twig:Icon name="arrow-long-left"/>
                <span>Toutes les entrées</span>
            </a>
            {% if _show_url %}
                <a href="{{ _show_url }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.show' | trans }}" title="{{ 'global.show' | trans }}">
                    <twig:Icon name="eye"/>
                    <span>revenir aux détails</span>
                </a>
            {% endif %}
        </twig:block>
    </twig:Header>
</twig:block>

<twig:block name="content">
    <twig:Card>
        <twig:block name="content">
            <twig:Form :form="form" />
        </twig:block>
    </twig:Card>
</twig:block>
