{% extends '@admin/shared/layout/base.html.twig' %}
{% block title "Commentaires" %}

{% block header %}
    {% embed '@admin/shared/component/_header.html.twig' %}
        {% block header_title 'Commentaires' %}
        {% block header_action_list %}
            <li class="btn-group">
                <a href="{{ path('administration_content_dashboard_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    {{ 'bar-chart' | icon }}
                    <span>Statistiques</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    <div class="row g-gs mb-4">
        <div class="col-12">
            {% embed "@admin/shared/component/card/_list.html.twig" %}
                {% import '@admin/shared/component/_macros.html.twig' as _ %}
                {% block list_card_table_head %}
                    <th>Auteur</th>
                    <th>Contenu</th>
                    <th>Commentaire</th>
                    <th>&nbsp;</th>
                {% endblock %}
                {% block list_card_table_body %}
                    {% for row in data %}
                        <tr>
                            <td>{{ row.owner.username }}</td>
                            <td>{{ (row.target.contentType.translationKey | trans([], 'content') ~ ' ' ~ row.target.id) | badge }}</td>
                            <td>{{ row.content }}</td>
                            <td>
                                <div class="tb-odr-btns d-none d-md-inline">
                                    <a href="{{ path('administration_content_comment_reply', {id: row.id}) }}" class="btn btn-sm btn-primary" title="répondre">
                                        Répondre
                                    </a>
                                </div>
                                {{ _.delete_icon_button('administration_content_comment_delete', row) }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
