{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ "Commentaires" }}</twig:block>

<twig:block name="header">
    <twig:Header title="Commentaires">
        <twig:HeaderLinkButton name="Statistiques" path="{{ path('admin_content_dashboard_index') }}" icon="bar-chart" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data" separated>
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="Auteur" col />
                    <twig:ResponsiveTableColumn value="Content" col />
                    <twig:ResponsiveTableColumn value="Commentaire" col />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn>
                    <twig:UserAvatarLink
                        path="{{ path('admin_authentication_user_show', {id: item.owner.id}) }}"
                        username="{{ item.owner.username }}"
                        surname="{{ item.owner.email }}"
                        avatarUrl="{{ vich_uploader_asset(item.owner, 'avatar_file') }}"
                    />
                </twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn>{{ item.target.contentType.translationKey | trans({}, 'content') | badge }}</twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn value="{{ item.content }}" />
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction path="{{ path('admin_content_comment_reply', {id: item.id}) }}" icon="chat"  />
                        <twig:ResponsiveTableAction>
                            <twig:DeleteButton path="{{ path('admin_content_comment_delete', {id: item.id}) }}" :item="item" />
                        </twig:ResponsiveTableAction>
                    </twig:ResponsiveTableTools>
                </twig:ResponsiveTableColumn>
            </twig:ResponsiveTable>
        </div>
    </div>
</twig:block>
