<div class="card">
    <div class="nk-ecwg nk-ecwg6">
        <div class="card-inner">
            <div class="card-title-group">
                <div class="card-title">
                    <h6 class="title">{{ this.label }}</h6>
                </div>
            </div>
            <div class="data">
                <div class="data-group">
                    <div class="amount">{{ this.value }}</div>
                    {% if this.chart %}
                        <div class="nk-ecwg6-ck">
                            <twig:block name="chart">{{ this.chart | raw }}</twig:block>
                        </div>
                    {% endif %}
                </div>
                <div class="info">
                    {% if this.ratio is defined %}
                        {% if this.value != 0.0 %}
                            <span class="change {{ this.ratio >= 0.0 ? 'up text-success' : 'down text-danger' }}">
                                <twig:DashliteIcon name="{{ (this.ratio >= 0.0 ? 'arrow-long-up' : 'arrow-long-down') }}" /> {{  this.ratio }} %
                            </span>
                            <span> vs. la période passée</span>
                        {% else %}
                            <span class="change down">
                                <twig:DashliteIcon name="alert-fill-c"/>
                            </span>
                            <span class="text-danger"> Aucune nouvelle donnée</span>
                        {% endif %}
                    {% else %}
                        <span>{{ this.info }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
