{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ 'Vidéos' }}</twig:block>

<twig:block name="header">
    <twig:Header title="Vidéos">
        <twig:HeaderLinkButton name="Ajouter" icon="plus" path="{{ path('admin_content_video_new') }}" />
    </twig:Header>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:ResponsiveTable :data="data" emptyStateAction="Ajouter une vidéo" emptyStatePath="{{ path('admin_content_video_new') }}">
                <twig:block name="header">
                    <twig:ResponsiveTableColumn value="nom" cols />
                    <twig:ResponsiveTableColumn value="Lecture" cols />
                    <twig:ResponsiveTableColumn value="Statut" cols />
                    <twig:ResponsiveTableColumn tools />
                </twig:block>

                <twig:ResponsiveTableColumn value="{{ item.name }}" />
                <twig:ResponsiveTableColumn>{{ (item.duration / 60) | round(1, 'floor') }} min</twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn>{{ item.status.translationKey | trans([], 'content') | badge }}</twig:ResponsiveTableColumn>
                <twig:ResponsiveTableColumn tools>
                    <twig:ResponsiveTableTools>
                        <twig:ResponsiveTableAction icon="eye" path="{{ path('admin_content_video_show', {id: item.id}) }}" />
                        <twig:ResponsiveTableAction icon="edit" path="{{ path('admin_content_video_edit', {id: item.id}) }}" />
                    </twig:ResponsiveTableTools>
                </twig:ResponsiveTableColumn>
            </twig:ResponsiveTable>
        </div>
    </div>
</twig:block>
