{% extends '@DevscastDashlite/layout/base.html.twig' %}
<twig:block name="sidebar">{{ include('@admin/shared/_sidebar.html.twig') }}</twig:block>
<twig:block name="title">{{ 'Vidéos' }}</twig:block>

<twig:block name="header">
    {% embed '@DevscastDashlite/component/_header.html.twig' %}
        <twig:block name="header_title">{{ 'Vidéos' }}</twig:block>
        <twig:block name="header_action_list">
            <li class="btn-group">
                <a href="{{ path('admin_content_video_new') }}" class="btn btn-white btn-dim btn-outline-light">
                    <twig:Icon name="plus"/>
                    <span>Ajouter</span>
                </a>
                <a href="{{ path('admin_content_dashboard_index') }}" class="btn btn-white btn-dim btn-outline-light">
                    <twig:Icon name="bar-chart"/>
                    <span>Statistiques</span>
                </a>
            </li>
        </twig:block>
    {% endembed %}
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            {% embed "@DevscastDashlite/component/card/_list.html.twig" with {
                _action: 'Ajouter une vidéo',
                _path: path('admin_content_video_new')
            } %}
                {% import '@DevscastDashlite/component/_macros.html.twig' as _ %}
                <twig:block name="list_card_table_head">
                    <th>Name</th>
                    <th>Lecture</th>
                    <th>Statut</th>
                    <th>&nbsp;</th>
                </twig:block>
                <twig:block name="list_card_table_body">
                    {% for row in data %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ (row.duration / 60) | round(1, 'floor') }} min</td>
                            <td>{{ row.status.translationKey | trans([], 'content') | badge }}</td>
                            <td class="tb-odr-action">
                                <div class="tb-odr-btns d-none d-md-inline">
                                    <a href="{{ path('admin_content_video_show', {id: row.id}) }}" class="text-soft btn btn-icon btn-trigger" title="{{ 'global.show' | trans([], 'messages') }}">
                                        <twig:Icon name="eye"/>
                                    </a>
                                    <a href="{{ path('admin_content_video_edit', {id: row.id}) }}" class="text-soft btn btn-icon btn-trigger" title="{{ 'global.edit' | trans([], 'messages') }}">
                                        <twig:Icon name="edit"/>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </twig:block>
            {% endembed %}
        </div>
    </div>
</twig:block>
