{% extends '@admin/shared/layout/base.html.twig' %}
<twig:block name="title">{{ 'Tags' }}</twig:block>

<twig:block name="header">
    <twig:DashliteHeader title="Tags">
        <twig:DashliteFormModalButton name="Ajouter" icon="plus" path="{{ path('admin_content_tag_new') }}" />
    </twig:DashliteHeader>
</twig:block>

<twig:block name="content">
    <div class="row g-gs mb-4">
        <div class="col-12">
            <twig:DashliteResponsiveTable :data="data" emptyStatePath="{{ path('admin_content_tag_new') }}" emptyStateAction="Ajouter un tag">
                <twig:block name="header">
                    <twig:DashliteResponsiveTableColumn value="Nom" col/>
                    <twig:DashliteResponsiveTableColumn tools />
                </twig:block>

                <twig:DashliteResponsiveTableColumn value="{{ item.name }}" />
                <twig:DashliteResponsiveTableColumn tools>
                    <twig:DashliteResponsiveTableTools>
                        <twig:DashliteResponsiveTableAction path="{{ path('admin_content_tag_edit', {id: item.id}) }}" icon="edit" />
                        <twig:DashliteResponsiveTableAction>
                            <twig:DashliteDashliteDeleteButton path="{{ path('admin_content_tag_delete', {id: item.id}) }}" :item="item" />
                        </twig:DashliteResponsiveTableAction>
                    </twig:DashliteResponsiveTableTools>
                </twig:DashliteResponsiveTableColumn>
            </twig:DashliteResponsiveTable>
        </div>
    </div>
</twig:block>
